/* nav related styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

/* common shared styles */

body{
    font-family: 'Open Sans', sans-serif;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}



.nav-tittle{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
     border-radius: 5px;
     background-color: #FD6E0A;
     border: 0;
     padding: 15px 35px;
     font-size: 20px;
     font-weight: 700px;
     color: white;
}


.text-primary{
    color: #FD6E0A;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav>a{
    text-decoration: none;
    color: #474747;
}
/* related header style */
.heads{
    background-color:#FFF8F3;
    background-image: url(../image/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-greeting{
    margin: 0;font-size: 45px;
    color: #474747;
}
.banner-title{
    margin: 0;
    font-size: 85px;
    font-weight: 700;
    margin-bottom:20px;
    
}
.banner .profile{
    width: 500px;
}
.banner-content{
    max-width: 500px;
}

/* main section styles */
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}
.section-discription{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{
    display:flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}